@use '../../scss/variables';

@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    local('TT Lakes Regular'),
    local('TTLakes-Regular'),
    url('../../fonts/TTLakes-Regular.woff') format('woff');
}
@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('TT Lakes Medium'),
    local('TTLakes-Medium'),
    url('../../fonts/TTLakes-Medium.woff') format('woff');
}
@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src:
    local('TT Lakes Bold'),
    local('TTLakes-Bold'),
    url('../../fonts/TTLakes-Bold.woff') format('woff');
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: 'TT Lakes', 'Arial', sans-serif;
  color: variables.$text-common-color;
}
a {
  text-decoration: none;
  color: variables.$text-common-color;
}
ul,
ol,
li {
  list-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
.common-wrapper {
  display: flex;
  @media (max-width: 767px) {
    overflow-y: hidden;
  }
}
.wrap-main {
  background: variables.$container-background-color;
  width: calc(100vw - 320px);
  margin-left: auto;
  caret-color: transparent;
  @media (max-width: 1365px) {
    width: 100vw;
  }
  &__absolute--320 {
    width: 100vw;
    position: fixed;
    height: 676px;
    overflow-y: hidden;
  }
  &__absolute--768 {
    width: 100vw;
    position: fixed;
    height: 1024px;
    overflow-y: hidden;
  }
  &__absolute--1440 {
    width: 100vw;
    position: fixed;
    height: 940px;
    overflow-y: hidden;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.services-h1 {
  display: flex;
  width: 304px;
  height: 40px;
  font-family: 'TT Lakes', 'Arial', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -0.62px;
  @media (min-width: 1366px) {
    display: none;
  }
  &__device-size {
    @media (min-width: 768px) and (max-width: 1365px) {
      margin-left: -9px;
      margin-top: 20px;
      justify-content: space-around;
      padding-right: 30px;
    }
    &::before {
      @media (min-width: 768px) and (max-width: 1365px) {
        content: url('../../svg/highlight.svg');
        position: relative;
        bottom: 2px;
      }
    }
  }
}
.services {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  height: 153px;
  align-items: center;
  @media (max-width: 767px) {
    padding-block: 15px;
  }
  @media (min-width: 1366px) {
    display: none;
  }
}
.h1-highlight {
  width: 4px;
  height: 40px;
  @media (min-width: 768px) and (max-width: 1365px) {
    margin-top: 10px;
  }
}
.content-all {
  display: flex;
  justify-content: space-between;
  &__item {
    font-family: 'TT Lakes', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: variables.$text-common-color;
    letter-spacing: 0.2px;
    @media (min-width: 1366px) {
      display: none;
    }
    &--tablet,
    &--desktop {
      @media (max-width: 767px) {
        display: none;
      }
    }
    &--desktop {
      @media (min-width: 768px) and (max-width: 1365px) {
        display: none;
      }
      @media (min-width: 1366px) and (max-width: 1439px) {
        margin-right: 35px;
      }
      @media (min-width: 1366px) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-left: 5px;
      }
    }
    &--tablet {
      @media (min-width: 768px) and (max-width: 1365px) {
        font-size: 14px;
        width: 314px;
        margin-top: 4px;
        letter-spacing: 0.19px;
        line-height: 20px;
        height: 36px;
      }
      @media (min-width: 1366px) {
        display: none;
      }
    }
    &--width {
      @media (min-width: 768px) and (max-width: 1365px) {
        width: 314px;
      }
    }
  }
  &__item--width {
    @media (max-width: 767px) {
      margin: 0 16px 10px;
      line-height: 18px;
    }
  }
  &__text {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    @media (min-width: 768px) and (max-width: 1365px) {
      width: 360px;
    }
    @media (min-width: 1366px) {
      margin-top: 18px;
      width: 508px;
      align-content: baseline;
    }
  }
  &__device-size {
    @media (max-width: 767px) {
      flex-wrap: wrap;
      height: 322px;
      align-items: flex-start;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      flex-wrap: nowrap;
      margin: 15px 24px 25px 24px;
      height: 208px;
      flex-grow: 1;
    }
    @media (min-width: 1366px) {
      padding: 0 31px 0 29px;
    }
  }
  &__read {
    width: 132px;
    font-family: 'TT Lakes', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.4px;
    color: variables.$text-common-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 767px) {
      height: 20px;
      margin-left: 18px;
      padding-top: 16px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      height: 20px;
      margin-left: 2px;
    }
    @media (min-width: 1366px) {
      margin-top: 16px;
      margin-left: 19px;
    }
    &--wrap-link:after {
      background-color: variables.$hover-link-color;
      display: block;
      content: '';
      height: 2px;
      width: 0;
      transition: width 0.3s ease-in-out;
    }
    &--wrap-link:hover:after {
      width: 100%;
    }
    &--wrap-link:hover:active:after {
      height: 2px;
      opacity: 1;
      position: static;
      //noinspection SassScssResolvedByNameOnly
      @extend %animation-effect;
    }
  }
  &__read::before {
    content: url('../../svg/expand_down.svg');
    @media (max-width: 767px) {
      position: relative;
      right: 3px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      position: relative;
      right: 3px;
    }
    @media (min-width: 1366px) {
      position: absolute;
      margin-top: 2px;
      margin-right: 140px;
    }
  }
  &__signboard-image {
    background-repeat: no-repeat;
    width: 100%;
    &--width {
      @media (max-width: 767px) {
        margin-top: 24px;
        height: 176px;
        background-image: url('../../img/signboard_320.png');
        background-position: left;
      }
      @media (min-width: 768px) and (max-width: 1365px) {
        background-image: url('../../img/signboard_360.png');
        border-radius: 6px;
        width: 360px;
        margin-left: auto;
      }
      @media (min-width: 1366px) {
        background-image: url('../../img/signboard_532.png');
        width: 532px;
        background-repeat: no-repeat;
        height: 307px;
        border-radius: 6px;
        margin: 8px -3px 50px 0;
      }
    }
  }
}
.content-all-brand,
.content-all-techno {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 16px;
  align-items: center;
  padding: 0 30px 0 30px;
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1365px) {
    margin-top: 17px;
    padding-left: 23px;
  }
  &__wrap-link {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.4px;
    padding-left: 33px;
    padding-top: 10px;
    &:after {
      background-color: variables.$hover-link-color;
      display: block;
      content: '';
      height: 2px;
      width: 0;
      transition: width 0.3s ease-in-out;
    }
    &:hover:after {
      width: 100%;
    }
    &:hover:active:after {
      height: 2px;
      opacity: 1;
      position: static;
      //noinspection SassScssResolvedByNameOnly
      @extend %animation-effect;
    }
    &:before {
      position: absolute;
      content: url('../../svg/expand_down.svg');
      margin-left: -32px;
      margin-top: -5px;
    }
  }
}

.change {
  &.content-all-brand,
  &.content-all-techno {
    &__wrap-link:before {
      content: url('../../svg/expand_up.svg');
    }
  }
}

.desktop-container-brand {
  background-color: variables.$container-background-color;
  margin-top: 25px;
  caret-color: transparent;
  overflow: hidden;
  @media (max-width: 767px) {
    display: none;
  }
}
.desktop-container-techno {
  background-color: variables.$container-background-color;
  margin-top: 24px;
  caret-color: transparent;
  overflow: hidden;
  @media (max-width: 767px) {
    display: none;
  }
}
.desktop-container-price {
  background-color: variables.$container-background-color;
  caret-color: transparent;
  overflow: hidden;
  font-size: 13px;
  color: variables.$text-common-color;
  @media (max-width: 767px) {
    display: none;
  }
}
.menu-contact-list {
  &__icon {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    caret-color: transparent;
  }
}
.card-menu-brand,
.card-menu-techno {
  display: flex;
  &__device-size {
    flex-wrap: wrap;
    overflow: hidden;
    height: 160px;
    @media (max-width: 767px) {
      flex-wrap: nowrap;
      overflow: hidden;
      overflow-x: auto;
      padding-left: 15px;
    }
  }
}
.card-menu-brand {
  &__device-size {
    @media (max-width: 767px) {
      flex-wrap: nowrap;
      margin-left: 7px;
      overflow: visible;
    }
  }
}
.card-menu-techno {
  @media (max-width: 767px) {
    margin-top: -19px;
  }
}
.slider-menu-brand {
  &__li {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 72px;
    border-radius: 6px;
    padding: 0 15px 0 15px;
    border: 1px solid variables.$slider-border-color !important;
    background-color: variables.$background-color;
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    caret-color: transparent;
    margin-left: calc(100vw / 45);
    @media (max-width: 767px) {
      margin-left: auto;
      width: 240px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      margin-left: calc(100vw / 32);
    }
  }
  &__arrow {
    background-image: url('../../svg/go.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
  &__logo {
    &--lenovo {
      background-image: url('../../img/lenovo.png');
      height: 70px;
      width: 128px;
      background-repeat: no-repeat;
      background-position: left center;
      margin-right: 40px;
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 24px;
      }
    }
    &--samsung {
      background-image: url('../../img/samsung.png');
      height: 70px;
      width: 128px;
      background-repeat: no-repeat;
      background-position: left center;
      margin-right: 40px;
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 24px;
      }
    }
    &--apple {
      background-image: url('../../img/apple.png');
      height: 70px;
      width: 128px;
      background-repeat: no-repeat;
      background-position: left center;
      margin-right: 40px;
      margin-bottom: 5px;
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 24px;
      }
    }
    &--viewsonic {
      background-image: url('../../img/viewsonic.png');
      height: 70px;
      width: 128px;
      background-repeat: no-repeat;
      background-position: left center;
      margin-right: 40px;
      transform: translateX(-2px);
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 24px;
      }
    }
    &--bosch {
      background-image: url('../../img/bosch.png');
      height: 70px;
      width: 128px;
      background-repeat: no-repeat;
      background-position: left center;
      margin-right: 40px;
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 24px;
      }
    }
    &--hp {
      background-image: url('../../img/hp.png');
      height: 70px;
      width: 128px;
      background-repeat: no-repeat;
      background-position: left center;
      margin-right: 40px;
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 24px;
      }
    }
    &--acer {
      background-image: url('../../img/acer.png');
      height: 70px;
      width: 128px;
      background-repeat: no-repeat;
      background-position: left center;
      margin-right: 40px;
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 24px;
      }
    }
    &--sony {
      background-image: url('../../img/sony.png');
      height: 70px;
      width: 128px;
      background-repeat: no-repeat;
      background-position: left center;
      margin-right: 40px;
      position: relative;
      right: 2px;
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 24px;
      }
    }
  }
}
.slider-menu-techno {
  &__li {
    display: grid;
    align-items: center;
    height: 160px;
    border-radius: 6px;
    padding: 0 15px 0 15px;
    border: 1px solid variables.$slider-border-color !important;
    background-color: variables.$background-color;
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    caret-color: transparent;
    justify-items: end;
    margin-left: calc(100vw / 45);
    @media (max-width: 767px) {
      margin-right: 10px;
      margin-left: auto;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      margin-left: calc(100vw / 32);
    }
  }
  &__title {
    width: 208px;
    @media (min-width: 768px) and (max-width: 1365px) {
      width: 192px;
    }
  }
}
.slider-menu-price {
  &__li {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: variables.$background-color;
    caret-color: transparent;
    padding-left: 25px;
    letter-spacing: 0.19px;
    border-bottom: 1px solid variables.$slider-border-color;
    font-size: 14px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__li:last-child {
    border-bottom: none;
  }
  &__li--320 {
    @media (max-width: 767px) {
      display: grid;
      align-items: start;
      height: 200px;
      caret-color: transparent;
      letter-spacing: 0.2px;
      border-radius: 6px;
      padding: 0 15px 0 15px;
      width: 260px;
      flex-shrink: 0;
    }
  }
  &__arrow {
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__title {
    @media (max-width: 767px) {
      width: 228px;
      line-height: 18px;
      color: variables.$text-common-color;
      margin-bottom: 7px;
    }
  }
  &__title-services {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 56px;
    letter-spacing: 0.7px;
    color: variables.$menu-text-active-color;
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      margin-left: 40px;
    }
  }
}
.slider-menu-indent {
  margin-top: 65px;
  margin-left: -25px;
  height: 10px;
  width: 25px;
  background-color: variables.$background-color;
  @media (max-width: 767px) {
    display: none;
  }
}
.commercial-proposal {
  width: 420px;
  height: 95px;
  margin-left: 32px;
  color: variables.$text-common-color;
  @media (max-width: 767px) {
    width: auto;
    height: auto;
    margin-left: 16px;
  }
  @media (min-width: 768px) and (max-width: 1365px) {
    margin-left: 24px;
  }
  &__disclaimer {
    font-size: 14px;
    margin-top: 30px;
    line-height: 20px;
    letter-spacing: 0.22px;
    @media (max-width: 767px) {
      width: 250px;
      margin-top: 17px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      margin-top: 23px;
    }
  }
  &__get {
    display: flex;
    margin-top: 18px;
    letter-spacing: -0.1px;
    @media (max-width: 767px) {
      width: 188px;
      line-height: 24px;
      margin-top: 16px;
    }
  }
  &__get:after {
    content: url('../../svg/more.svg');
    position: absolute;
    margin-top: -3px;
    margin-left: 292px;
    @media (max-width: 767px) {
      left: 118px;
      margin-top: 25px;
      margin-left: auto;
    }
  }
}
.card-menu-price {
  &__order-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    margin-left: auto;
    margin-right: 25px;
    border-radius: 16px;
    background: variables.$button-send-color-body;
    margin-bottom: 2px;
    caret-color: transparent;
    @media (max-width: 767px) {
      margin-left: -11px;
      margin-bottom: 10px;
    }
  }
  &__order-button:before {
    width: 120px;
    height: 32px;
    border-radius: 16px;
    right: 55px;
    //noinspection SassScssResolvedByNameOnly
    @extend %animation-effect;
    @media (max-width: 767px) {
      right: 67px;
      margin-bottom: 2px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      right: 40px;
    }
  }
  &__order-button:hover:before {
    opacity: 0.65;
  }
  &__order-button:hover:active:before {
    opacity: 1;
    filter: blur(5px) contrast(250%) brightness(1000%);
  }
  &__row {
    background-image: url('../../svg/goside.svg');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
  }
  &__text {
    padding-left: 4px;
    line-height: 32px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.01px;
    color: variables.$button-send-color-text;
  }
  &__device-size {
    margin: -7px 31px auto;
    @media (max-width: 767px) {
      display: flex;
      margin: 0;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      margin: -7px 15px auto;
    }
  }
  &__device-size > :first-child,
  &__device-size > :last-child {
    @media (max-width: 767px) {
      border-radius: 6px;
    }
  }
  &__device-size > :first-child {
    border-radius: 6px 6px 0 0;
  }
  &__device-size > :last-child {
    border-radius: 0 0 6px 6px;
  }
}
.header-brand {
  display: flex;
  @media (max-width: 767px) {
    display: flex;
  }
  &__size {
    height: 54px;
    padding-left: calc(100vw / 45);
    letter-spacing: -0.23px;
    line-height: 52px;
    font-size: 16px;
    font-weight: 200;
    background: linear-gradient(
      to right,
      variables.$container-background-color,
      variables.$background-color
    );
    margin-top: 3px;
    border-top: 1px solid variables.$border-line-color;
    color: variables.$common-font-color;
    @media (max-width: 767px) {
      height: 80px;
      margin-left: 7px;
      line-height: 24px;
      padding-top: 15px;
      padding-left: 9px;
      margin-top: 23px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      margin-top: -7px;
      padding-left: calc(100vw / 32);
    }
  }
}
.header-technic,
.header-price {
  &__size {
    height: 56px;
    padding-left: calc(100vw / 45);
    letter-spacing: -0.23px;
    line-height: 55px;
    font-size: 16px;
    font-weight: 200;
    background: linear-gradient(
      to right,
      variables.$container-background-color,
      variables.$background-color
    );
    margin-top: 52px;
    border-top: 1px solid variables.$border-line-color;
    color: variables.$common-font-color;
    @media (min-width: 768px) and (max-width: 1365px) {
      padding-left: 24px;
      margin-top: 33px;
    }
  }
}
.header-technic {
  &__size {
    @media (max-width: 767px) {
      height: 80px;
      line-height: 24px;
      margin-top: 24px;
      margin-left: 9px;
      padding-top: 15px;
    }
  }
}
.header-price {
  @media (max-width: 767px) {
    display: flex;
  }
  &__size {
    @media (max-width: 767px) {
      padding-left: 16px;
      margin-top: 23px;
    }
  }
}
.column-services-width {
  width: calc(100vw / 3.06);
  @media (max-width: 767px) {
    width: 228px;
    height: 32px;
  }
  @media (min-width: 768px) and (max-width: 1365px) {
    width: calc(100vw / 2.065);
  }
  &__320 {
    @media (max-width: 767px) {
      color: variables.$menu-text-active-color;
      letter-spacing: 0.12px;
      padding-bottom: 4px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      display: none;
    }
  }
}
.column-prices-width {
  width: calc(100vw / 6.34);
  @media (max-width: 767px) {
    width: 228px;
    margin-top: -2px;
  }
  @media (min-width: 768px) and (max-width: 1365px) {
    width: calc(100vw / 8.02);
  }
  &__320 {
    @media (min-width: 768px) and (max-width: 1365px) {
      display: none;
    }
  }
}
.slider-menu-brand,
.slider-menu-techno {
  &--device--wrap {
    height: 100%;
  }
}
.menu-header-list {
  &__device-320::before {
    @media (max-width: 767px) {
      position: absolute;
      top: 28px;
      content: url('../../svg/divider.svg');
      margin-left: calc((47vw / 0.99 + 18px));
    }
  }
}
.column-period {
  @media (max-width: 767px) {
    display: flex;
    align-items: end;
    height: 46px;
  }
  &__title {
    @media (max-width: 767px) {
      color: variables.$menu-text-active-color;
      width: 120px;
      padding-top: 10px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      display: none;
    }
  }
  &__block {
    @media (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      width: 120px;
      padding-bottom: 10px;
      height: 60px;
    }
  }
}
.services-h1 {
  &__device-size {
    @media (max-width: 767px) {
      margin-left: 0;
      justify-content: space-between;
      padding-right: 57px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__device-size::before {
    @media (max-width: 767px) {
      content: url('../../svg/highlight.svg');
      margin-top: -2px;
    }
  }
}
.slide-technics {
  @media (max-width: 767px) {
    margin-top: 19px;
  }
}
.slide-repairs {
  @media (max-width: 767px) {
    margin-left: -7px;
  }
}
.slide-container-brand::after {
  @media (max-width: 767px) {
    content: '';
    position: absolute;
    height: 80px;
    margin-top: -105px;
    right: 0;
    width: 24px;
    background: linear-gradient(
      270deg,
      variables.$container-background-color 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}
.slide-container-techno {
  @media (max-width: 767px) {
    margin-top: 17px;
  }
  &::after {
    @media (max-width: 767px) {
      content: '';
      position: absolute;
      height: 172px;
      margin-top: -194px;
      right: 0;
      width: 24px;
      background: linear-gradient(
        270deg,
        variables.$container-background-color 16.84%,
        rgba(248, 248, 248, 0.0001) 100%
      );
    }
  }
}
.slider-menu-prices {
  &__price {
    @media (max-width: 767px) {
      color: variables.$menu-text-active-color;
      width: 228px;
    }
  }
}
.column-services {
  @media (max-width: 767px) {
    &__title {
      display: flex;
      flex-wrap: wrap;
      padding-top: 15px;
      padding-bottom: 4px;
    }
    &__prices {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 12px;
      line-height: 22px;
    }
  }
}
.wrap-main-overlay {
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1365px) {
    position: absolute;
    max-height: 100vh;
    overflow-y: hidden;
  }
}
.icon-call {
  @media (min-width: 768px) and (max-width: 1365px) {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url('../../svg/call.svg');
    background-repeat: no-repeat;
  }
}
.main {
  @media (min-width: 768px) and (max-width: 1365px) {
    height: 416px;
  }
}
