@use '../../scss/variables';

.page-header {
  height: 88px;
  @media (min-width: 1366px) {
    margin-right: 24px;
    margin-bottom: 43px;
  }
}
.header-top-1120 {
  &__h1 {
    display: flex;
    line-height: 44px;
    font-size: 27px;
    &--device-size {
      margin-left: 3px;
      margin-top: 0;
      letter-spacing: -0.1px;
      &:before {
        content: url('../../svg/highlight.svg');
        position: absolute;
        margin-left: -33px;
        margin-top: 2px;
      }
    }
  }
  &__list-1120 {
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 1366px) {
      display: flex;
      align-items: center;
      padding-right: 6px;
    }
  }
  &__order {
    font-size: 16px;
    font-weight: bold;
    padding-right: 8px;
    letter-spacing: -0.4px;
  }
  &__status {
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
    letter-spacing: -0.38px;
  }
  &__li-order,
  &__li-status {
    display: flex;
    align-items: center;
    padding-left: 31px;
  }
  &__li-order:before,
  &__li-status:before {
    width: 178px;
    height: 40px;
    border-radius: 20px;
    //noinspection SassScssResolvedByNameOnly
    @extend %animation-effect;
  }
  &__li-order:before {
    right: 229px;
  }
  &__li-status:before {
    right: 29px;
  }
  &__li-order:hover:before,
  &__li-status:hover:before {
    opacity: 0.65;
  }
  &__li-order:hover:active:before,
  &__li-status:hover:active:before {
    opacity: 1;
    filter: blur(5px) contrast(250%) brightness(1000%);
  }
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1366px) {
    display: flex;
    height: 44px;
    justify-content: space-between;
    margin-top: 40px;
  }
}
.slider-menu-list {
  display: flex;
  font-size: 16px;
  height: 40px;
  &__li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: max-content;
    padding: 0 19px 0 21px;
    flex-shrink: 0;
    margin-right: 4px;
    letter-spacing: -0.07px;
    &--border--color {
      border: 1px solid variables.$container-background-color;
      margin-bottom: 5px;
    }
    @media (max-width: 767px) {
      padding: 0 16px 0 16px;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      padding: 0 17px 0 15px;
      margin-right: 0;
    }
  }
  & li {
    @media (min-width: 768px) and (max-width: 1365px) {
      border-color: variables.$container-background-color;
    }
  }
  & li:first-child {
    border-color: variables.$border-list-color;
    background-color: variables.$background-color;
  }
  &__device-size {
    @media (max-width: 767px) {
      margin-left: 16px;
      margin-bottom: -1px;
      overflow-x: auto;
      overflow-y: hidden;
    }
    @media (min-width: 768px) and (max-width: 1365px) {
      margin-left: 25px;
      margin-bottom: 11px;
      overflow-x: auto;
      overflow-y: hidden;
    }
    @media (min-width: 1366px) {
      flex-wrap: wrap;
      margin: 7px 0 0 2px;
      justify-content: space-between;
    }
  }
  &:after {
    @media (max-width: 767px) {
      content: '';
      position: absolute;
      height: 50px;
      top: 180px;
      right: 0;
      width: 24px;
      background: linear-gradient(
        270deg,
        variables.$container-background-color 16.84%,
        rgba(248, 248, 248, 0.0001) 100%
      );
    }
  }
}
.menu-header-list {
  display: flex;
  flex: 10 1 auto;
  align-items: center;
  &__icon {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    caret-color: transparent;
    &--svg-burger {
      width: 40px;
      height: 40px;
      background-image: url('../../svg/burger.svg');
    }
    &--svg-group {
      width: 98px;
      height: 51px;
      background-image: url('../../svg/group.svg');
      @media (max-width: 767px) {
        margin-right: 22px;
      }
      @media (min-width: 768px) and (max-width: 1365px) {
        height: 52px;
      }
    }
    &--svg-group:hover {
      transition: all 0.4s ease-in-out;
      transform: scale(1.05);
    }
    &--svg-divider {
      width: 2px;
      height: 32px;
      background-image: url('../../svg/divider.svg');
    }
    &--svg-repair {
      width: 40px;
      height: 40px;
      background-image: url('../../svg/repair.svg');
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: -25px;
      }
    }
    &--svg-check-status {
      width: 40px;
      height: 40px;
      background-image: url('../../svg/checkstatus.svg');
    }
    &--svg-call {
      width: 40px;
      height: 40px;
      background-image: url('../../svg/call.svg');
    }
    &--svg-call:hover,
    &--svg-chat:hover,
    &--svg-burger:hover,
    &--svg-repair:hover,
    &--svg-profile:hover,
    &--svg-check-status:hover {
      transition: all 0.3s ease-in-out;
      transform: rotate(360deg);
    }
    &--svg-call:before,
    &--svg-chat:before,
    &--svg-burger:before,
    &--svg-repair:before,
    &--svg-profile:before,
    &--svg-check-status:before {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      //noinspection SassScssResolvedByNameOnly
      @extend %animation-effect;
    }
    &--svg-call:hover:before,
    &--svg-chat:hover:before,
    &--svg-burger:hover:before,
    &--svg-repair:hover:before,
    &--svg-profile:hover:before,
    &--svg-check-status:hover:before {
      opacity: 0.65;
    }
    &--svg-call:hover:active:before,
    &--svg-chat:hover:active:before,
    &--svg-burger:hover:active:before,
    &--svg-repair:hover:active:before,
    &--svg-profile:hover:active:before,
    &--svg-check-status:hover:active:before {
      opacity: 1;
      filter: blur(5px) contrast(250%) brightness(1000%);
    }
    &--svg-chat {
      @media (min-width: 768px) and (max-width: 1365px) {
        width: 40px;
        height: 40px;
        background-image: url('../../svg/chat.svg');
        margin-left: -25px;
      }
    }
    &--svg-profile {
      @media (min-width: 768px) and (max-width: 1365px) {
        width: 40px;
        height: 40px;
        background-image: url('../../svg/profile.svg');
        margin-left: -25px;
      }
    }
    &--svg-burger {
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 42px;
      }
    }
    &--right {
      @media (min-width: 768px) and (max-width: 1365px) {
        margin-right: 66px;
      }
    }
  }
  &__tablet-left,
  &__tablet-right {
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__tablet-left {
    @media (min-width: 768px) and (max-width: 1365px) {
      padding: 18px 24px;
    }
    @media (min-width: 1366px) {
      display: none;
    }
  }
  &__tablet-right {
    @media (min-width: 768px) and (max-width: 1365px) {
      padding: 18px 24px;
      width: 203px;
      justify-content: space-between;
    }
    @media (min-width: 1366px) {
      display: none;
    }
  }
  &__tablet-left:before {
    @media (min-width: 768px) and (max-width: 1365px) {
      position: absolute;
      top: 28px;
      content: url('../../svg/divider.svg');
      margin-left: 60px;
    }
  }
  &__tablet-right:after {
    @media (min-width: 768px) and (max-width: 1365px) {
      position: absolute;
      top: 28px;
      content: url('../../svg/divider.svg');
      margin-left: calc((20vw / 0.69 - 50px));
    }
  }
  &__device-320 {
    @media (max-width: 767px) {
      padding: 18px 16px;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  @media (max-width: 767px) {
    justify-content: space-between;
  }
}
.header-top-wrapper {
  padding: 0 0 0 32px;
  margin-top: 40px;
  @media (max-width: 1365px) {
    display: none;
  }
}
.menu-header {
  @media (min-width: 768px) and (max-width: 1365px) {
    display: flex;
  }
  @media (max-width: 1365px) {
    background-color: variables.$background-color;
  }
}
