@use '_variables.scss';
@use '../components/header/header.scss';
@use '../components/main/main.scss';
@use '../components/footer/footer.scss';
@use '../components/mobile-menu/mobile-menu.scss';
@use '../components/modal/modal.scss';
@use '../components/swiper/swiper';
